<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
 
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	
</head>
<body>
	<!-- Individual User  -->
	<p id="user_id" style="display: none"><%= user.id %></p>

	<div >
		<div >
			<h1 >DOGS</h1>
		</div>
		<main>
			<div></div>
			<div id="control-panel">
				<!-- Link to all Dogs -->
					<a href="/dogs"><p>All dogs</p></a>
				<!-- 	Link back to users -->
					<a href="/users"><p>Back to users</p></a>
					 <!-- Individualize page -->
					<p id="users-title"><%= user.username %>'s dogs</p>

					<% if (usertrue)  { %>
					<!-- Allow adding of new dog for user -->
						<p>add a new dog</p>
						<!-- A form post for each user to for newdog -->
						<form action="/users/<%= user.id %>/newdog" method="POST">
							<input type="text" name="name" placeholder="name">
							<input type="text" name="breed" placeholder="breed">
							<input type="text" name="age" placeholder="age in months">
							<input type="text" name="timeinshelter" placeholder="Months at shelter">
							<input type="text" name="size" placeholder="Size">
							<input type="text" name="status" placeholder="Status">

							<input type="submit">				
						</form>
					<% } %>

						<!-- Div showing each dog of user -->
					<div >
						<% for (var i=0; i < user.dogs.length; i++) { %>
							<div class="dog">
								<p><%= user.dogs[i].name %></p>
								   <p>
								      <span class = 'field'>Name: </span><%=user.dogs[i].name%><br>
								      Breed: <%=user.dogs[i].breed%><br>
								      <span class='field'>Age (months): </span><%=user.dogs[i].age%><br>
								      <span class='field'>Size: </span><%=user.dogs[i].size%><br>
								 	  <span class='field'>Date Posted: </span><%=user.dogs[i].postingdate%><br>
								 	   <span class='field'>Status: </span><%=user.dogs[i].status%><br>
								  		 
								    </p>
							</div>
						<% } %>
					</div>
					<!-- Option to delete user -->
					<% if (usertrue) { %> 
						<form action="/users/<%= user.id %>" method="POST">
							<input type="hidden" name="_method" value="DELETE">
							<button id="delete-button">Delete Self</button>
						</form>
					<% } %>
			</div>
		</main>
	</div>

</body>
</html>